// Card Colors
$suvPrimaryColor:  #30838c;
$sedanPrimaryColor: #e28629;
$luxaryPrimaryColor: #085a5a;

// Text Color
$primaryColor: #eeefed;
$sedanTextColor: #f4dcae;
$suvTextColor: #4cb0b9;
$luxaryTextColor: #24b790; 

// Border
$thinBorder: 1px solid $primaryColor;

// Card style
@mixin flexCenter () {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
