//theme colors
$c-white: #FFFFFF;
$c-orange: #e48425;
$c-teal: #006670;
$c-dark-teal: #003f3e;
$c-transparent: transparent;

//background colors
$c-background-sedan: #{$c-orange};
$c-background-suv: #{$c-teal};
$c-background-luxary: #{$c-dark-teal};

//primary button
$c-button-background: #{$c-white};
$c-button-primary-text: #{c-white};
$c-button-primary-border: #{c-white};

//font
@mixin font-primary {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}
@mixin font-secondary {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}



//button font
$c-button1: #{$c-orange};
$c-button2: #{$c-teal};
$c-button3: #{$c-dark-teal};

@mixin button {
background-color: white;
border: 2px solid white;
@include font-secondary();
}

@mixin sedanTheme {
    color: #FFFFFF;
    background-color: $c-background-sedan;
    button {
        color: $c-button1;
    }
    @include font-secondary();
}

@mixin suvTheme {
    color: #FFFFFF;
    background-color: #{$c-teal};
    button {
        color: $c-button2;
    }
    @include font-secondary();
}

@mixin luxaryTheme {
    color: #FFFFFF;
    background-color: #{$c-dark-teal};
    button {
        color: $c-button3;
    }
    @include font-secondary();
}
