//theme colors
$c-white: #FFFFFF;
$c-orange: #e48425;
$c-teal: #006670;
$c-dark-teal: #003f3e;
$c-transparent: transparent;

//background colors
$c-background-sedan: #{$c-orange};
$c-background-suv: #{$c-teal};
$c-background-luxary: #{$c-dark-teal};

//primary button
$c-button-primary: #{transparent};
$c-button-primary-text: #{c-white};
$c-button-primary-border: #{c-white};

//button text
$c-button1: #{$c-orange};
$c-button2: #{$c-teal};
$c-button3: #{$c-dark-teal};

@mixin button {
background-color: white;
border: 2px solid white;
}

@mixin sedanTheme {
    color: #FFFFFF;
    background-color: $c-background-sedan;
    button {
        color: $c-button1;
    }
}

@mixin suvTheme {
    color: #FFFFFF;
    background-color: #{$c-teal};
    button {
        color: $c-button2;
    }
}

@mixin luxaryTheme {
    color: #FFFFFF;
    background-color: #{$c-dark-teal};
    button {
        color: $c-button3;
    }
}
